@layer utilities {
    @variants responsive {
        .layout__grid {
            display: grid;
            grid-template-columns: 225px 3fr;
            gap: 0;
        }
    }
}
.layout {
    @apply sm:layout__grid;
    @apply max-w-[2100px] mx-auto;

    & > nav {
        @apply col-start-1 col-end-2 row-start-1 row-end-3;
    }
    & > main {
        @apply col-start-2 col-end-3 row-start-1 row-end-3 sm:overflow-x-hidden;
    }
    & > aside {
        @apply xl:max-w-[250px];
        @apply col-start-2 row-start-2 xl:col-start-3 xl:row-start-1;
        @apply sm:overflow-hidden;
    }
}
