@import url(tailwindcss/base);
@import url(tailwindcss/components);
@import url(tailwindcss/utilities);

@import url(./_base.scss);
@import url(./_layout.scss);
@import url(./_navbar.scss);
@import url(./_btns.scss);
@import url(./_slider.scss);
@import url(./_media.scss);
@import url(./_loadingIndicator.scss);
@import url(./_thumbnail.scss);
@import url(./_search.scss);
@import url(./_modal.scss);
@import url(./_aside.scss);

@import url(./pages/_index.scss);
@import url(./utils/_index.scss);

@layer utilities {
    @variants responsive {
        .scrollbarVisible {
            scrollbar-width: auto;
        }
        .scrollbar {
            &__hide {
                scrollbar-width: none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    @apply w-0 h-0;
                }
            }

            &__show {
                scrollbar-width: auto;

                -ms-overflow-style: auto;

                &::-webkit-scrollbar {
                    @apply w-auto h-auto;
                }
            }

            &__track {
                &-transparent {
                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 10px transparent;
                        @apply hover:bg-transparent;
                    }
                }
                &-thin {
                    &::-webkit-scrollbar {
                        @apply w-1;
                    }
                }
            }
        }
    }
}
